# Web Framework & Core
Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.2

# Database Connector
mysql-connector-python==8.3.0
PyMySQL==1.1.0

# Exporting Reports (Excel & PDF)
pandas==2.2.1
openpyxl==3.1.2
XlsxWriter==3.2.0
reportlab==4.1.0

# Security & Utilities
Werkzeug==3.0.1
python-dotenv==1.0.1
email-validator==2.1.1

# Image Processing (Nếu bạn làm thêm module quét mã vạch/ảnh sản phẩm)
opencv-python==4.9.0.80
Pillow==10.2.0